!!!
%html
  %head
    %title Redmon

    %script(type="text/javascript" src="vendor/jquery-1.7.1.min.js")
    %script(type="text/javascript" src="vendor/wterm.jquery.js")
    %script(type="text/javascript" src="vendor/jquery.editinplace.js")
    %script(type="text/javascript" src="vendor/highcharts.js")
    %script(type="text/javascript" src="redmon.js")

    %link(type="text/css" rel="stylesheet" href="vendor/bootstrap.min.css")
    %link(type="text/css" rel="stylesheet" href="vendor/wterm.css")
    %link(type="text/css" rel="stylesheet" href="redmon.css")

  %body
    .topbar
      .fill
        .container
          %a.brand Redmon
          %ul.nav
            %li.active{:id => 'dashboard'}
              %a Dashboard
            %li{:id => 'keys'}
              %a Keys
            %li{:id => 'cli'}
              %a CLI
            %li{:id => 'config'}
              %a Configuration
            %li{:id => 'slow'}
              %a Slow Log
          .pull-right
            %a.brand #{redis_url}
            .btns
              %button.btn.primary{:id => 'flushBtn'} Flush DB
              %button.btn.primary{:id => 'resetBtn'} Reset Statistics

    .container.viewport
      .dashboard
        .content
          .page-header
            %h1 Dashboard
          .row
            .span15
              .row
                .span15
                  .widget
                    .headbar
                      %h2 Memory Usage
                    #memory-container{:style => "width:880px;height:256px"}
              .row
                .span15
                  .widget
                    .headbar
                      %h2 Keyspace Hits/Misses
                    #keyspace-container{:style => "width:880px;height:256px"}
            .span6
              .widget
                .headbar
                  %h2 Info
                %table.condensed-table{:id => "info-table"}
                  %tbody
                    %tr
                      %td{:style => "width: 65%"} Version
                      %td{:id => "redis_version"}
                    %tr
                      %td Role
                      %td{:id => "role"}
                    %tr
                      %td Uptime Days
                      %td{:id => "uptime_in_days"}
                    %tr
                      %td Memory Used
                      %td{:id => "used_memory_human"}
                    %tr
                      %td Memory Peak
                      %td{:id => "used_memory_peak_human"}
                    %tr
                      %td Memory Fragmentation Ratio
                      %td{:id => "mem_fragmentation_ratio"}
                    %tr
                      %td DB Size (Keys)
                      %td{:id => "dbsize", :type => 'number'}
                    %tr
                      %td Keyspace Hits
                      %td{:id => "keyspace_hits", :type => 'number'}
                    %tr
                      %td Keyspace Misses
                      %td{:id => "keyspace_misses", :type => 'number'}
                    %tr
                      %td Pub/Sub Channels
                      %td{:id => "pubsub_channels", :type => 'number'}
                    %tr
                      %td Pub/Sub Patterns
                      %td{:id => "pubsub_patterns", :type => 'number'}
                    %tr
                      %td Total Connections Received
                      %td{:id => "total_connections_received", :type => 'number'}
                    %tr
                      %td Total Commands Processed
                      %td{:id => "total_commands_processed", :type => 'number'}
                    %tr
                      %td Blocked Clients
                      %td{:id => "blocked_clients", :type => 'number'}
                    %tr
                      %td Connected Slaves
                      %td{:id => "connected_slaves", :type => 'number'}
                    %tr
                      %td Last Save
                      %td{:id => "last_save_time", :type => 'date'}
                    %tr
                      %td Changes Since Last Save
                      %td{:id => "changes_since_last_save", :type => 'number'}
                    %tr
                      %td AOF Enabled
                      %td{:id => "aof_enabled"}
                    %tr
                      %td VM Enabled
                      %td{:id => "vm_enabled"}
      .keys.hidden
        .content
          .page-header
            %h1 Keys - Coming soon!

      .cli.hidden
        .content
          .page-header
            %h1 Command Line Interface
          .row
            .span21{:style => "height:500px"}
              #wterm.cli.wterm_terminal

      .config.hidden
        .content
          .page-header
            %h1 Configuration
            .widget
              .headbar
                %h2 Parameters
              %table.condensed-table{:id => "config-table"}
                %tbody
                - config.each do |k,v|
                  %tr
                    %td{:style => "width: 20%"}= k
                    %td
                      .editable{:id => "#{k}"}= v

      .slow.hidden
        .content
          .page-header
            %h1 Slow Log - Coming Soon

:javascript
  $(document).ready(function() {
    Redmon.init({
      pollInterval : #{poll_interval},
      cliPrompt    : "#{prompt}"
    });
  });
