- if @result.respond_to? :each_with_index
  - @result.each_with_index do |item, index|
    %span= "#{index+1}) \"#{item}\""
    %br
- elsif @result.is_a? Fixnum
  %span= "(integer) #{@result}"
  %br
- else
  - @result = "\"#{@result}\"" unless @result == 'string'
  %span= @result
  %br